.card{
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
    & img{
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 175px;
    }
    &__new{
        position: absolute;
        right: 0px;
        margin: 12px 32px;
        padding: 5px 10px;
        background-color: $vert;
        color: $vert-text;
        border-radius: 2px;
        font-size: 0.9em;
        
    }
    &__container{
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        margin-left: 10px;
        padding-bottom: 10px
    }
    &__text{
        & h3{
            margin-top: 10px;
            margin-bottom: 5px;
        }
        & p{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    &__heart{
        position: absolute;
        right: 0px;
        margin-right: 40px;
        margin-top: 200px;
        z-index: 500;
        &_checkbox {
            display: inline;
            position: relative;
            cursor: pointer;
            &-check {
                background-image: url('../../assets/images/Vector.svg');
                background-repeat: no-repeat;
                position: absolute;
                top: 0;
                left: 0;
                height: 25px;
                width: 25px;
                transition: all 0.5s ease-out;
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                }
            }
            
            & input[type="checkbox"] {
                visibility: hidden;
                &:checked ~ .card__heart_checkbox-check {
                    background-image: url('../../assets/images/Vector2.svg');
                    &:after {
                        display: block;
                    }
                }
            }k
        }
    }
     
}

