.card{
    border-radius: 15px;
    background-color: white;
    margin-bottom: 20px;
    & img{
        width: 100%;
        object-fit: cover;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        height: 175px;
    }
    &__new{
        position: absolute;
        right: 0px;
        margin: 12px 32px;
        padding: 5px 10px;
        background-color: $vert;
        color: $vert-text;
        border-radius: 2px;
        font-size: 0.9em;
        z-index: 10;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        margin-right: 10px;
        margin-left: 10px;
        padding-bottom: 10px
    }
    &__text{
        & h3{
            margin-top: 10px;
            margin-bottom: 5px;
        }
        & p{
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    
}
     
@media (min-width: 768px) {

    .cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card{
        width: 45%;
        &__new{
            right: inherit;
            margin-left: 33%;
        }
    }

}


@media (min-width: 768px) and (max-width: 1024px){
    .card{
        &__new{
            right: inherit;
            margin-left: 34%;
        }
    }

}

@media (min-width: 1024px) {

    .card{
        &__new{
            right: inherit;
            margin-left: 395px;
        }
    }

}
