.heart{
    &__home_position{
        position: absolute;
        right: 0px;
        margin-right: 40px;
        margin-top: 200px;
        z-index: 500;
    }
    &__restaurant_position{
        margin-right: 20px;
    }
    &_checkbox {
        display: inline;
        position: relative;
        cursor: pointer;
        &-check {
            background-image: url('../../assets/images/Vector.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            transition: all 0.5s ease-out;
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }
        
        & input[type="checkbox"] {
            visibility: hidden;
            &:checked ~ .heart_checkbox-check {
                background-image: url('../../assets/images/Vector2.svg');
                &:after {
                    display: block;
                }
            }
        }
    }
}


.menu_c{
    position: relative;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    height: 70px;
    &__text{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
        
    }
    
    &__description{
        display: flex;
        justify-content: space-between;
        height: 21px;
        overflow: hidden;
    }
    &__name{
        margin: 0;
        margin-top: 5px;
        font-size: 1.2em
    }
    &__desc,&__price{
        margin-top: 3px;
        margin-bottom: 0px;        
        font-size: 0.95em;
    }
    &__desc{
        text-overflow: ellipsis;
        width: 100%;
    }
    &__price{
        font-weight: bold;
    }
    &__check{
        display: flex;
        align-items: center;
        margin: auto;
        color: white;
    }
    &_checkbox {
        display: inline;
        position: relative;
        cursor: pointer;
        &-check {
            //background-image: url('../../assets/images/Vector.svg');
            background-repeat: no-repeat;
            position: relative;
            top: 0;
            left: 0;
            width: 0px;
            display: flex;
            font-size: 0;
            //font-size: 0px;
            //height: 50px;
            //width: 100%;
            transition: all 0.5s ease-out;
            &::before {
                content: "caca";
                position: absolute;
                display: none;
                width: 80px;
            }
        }
        
    }
    & input[type="checkbox"] {
        visibility: hidden;
        display: none;
        transition: all 0.5s ease-out;
        &:checked ~ .menu_c_checkbox-check {
            //background-image: url('../../assets/images/Vector2.svg');
            font-size: 1.5em !important;
            width: 80px;
            background-color: $vert;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            &::before {
                content: '';
                display: block;
            }
        }

    }
}


