.heart{
    &__home_position{
        position: absolute;
        right: 0px;
        margin-right: 40px;
        margin-top: 200px;
        z-index: 500;
    }
    &__restaurant_position{
        margin-right: 20px;
    }
    &_checkbox {
        display: inline;
        position: relative;
        cursor: pointer;
        &-check {
            background-image: url('../../assets/images/Vector.svg');
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            transition: all 0.5s ease-out;
            &:after {
                content: "";
                position: absolute;
                display: none;
            }
        }
        
        & input[type="checkbox"] {
            visibility: hidden;
            &:checked ~ .heart_checkbox-check {
                background-image: url('../../assets/images/Vector2.svg');
                &:after {
                    display: block;
                }
            }
        }
    }
}


.item_menu{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    &__container{
        display: flex;
        justify-content: space-between;
        &__texts{
            width: 100%;
            padding: 10px;
            white-space: nowrap;
            transition: all 0.5s ease-in-out;
            &__title{
                    margin: 0;
                    margin-top: 5px;
                    font-size: 1.2em;
                    text-overflow: ellipsis;
                    overflow: hidden;
            }
            &__descrition{
                display: flex;
                justify-content: space-between;
                white-space: nowrap;
                &__text,&__price{
                    margin: 0px;
                    font-size: 0.95em;
                }
                &__text{
                    text-overflow: ellipsis;
                    overflow: hidden;
                    height: 21px;
                }
                &__price{
                    font-weight: bold;
                }
            }
        }
        &__check{
            overflow: hidden;
            width: 0px;
            background-color: $vert;
            border-top-right-radius : 15px;
            border-bottom-right-radius : 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 1.5em;
            &_icon{
                transform: rotate(0deg);
                transition: all 0.5s ease-in-out;
            }
            transition: all 0.5s ease-in-out;
        }
    }
    & input[type="checkbox"]{
        position: absolute; 
        visibility: hidden;
        &:checked ~ .item_menu__container__texts{
            width: 70%;
        }
        &:checked ~ .item_menu__container__check{
            overflow: visible;
            width: 80px;
        }
        &:checked  ~ .item_menu__container__check .item_menu__container__check_icon{
            transform: rotate(360deg);
        }
    }
}