// Tablette et desktop

@media (min-width: 768px){
   
    .item_menu{
        & input[type=checkbox]:checked ~ .item_menu__container__texts {
        width: 87%;}
    }

}


// Tablettes
@media (min-width: 768px) and (max-width: 1024px){
    .heart{
        &__home{
            &_position{
                right: inherit;
                padding-left: 38%;
            }
        }
    }
}

// Desktop
@media (min-width: 1024px) {
    .heart{
        &__home{
            &_position{
                right: inherit;
                padding-left: 435px;
            }
        }
    }

}