footer{
    background-color: $header-grey-font;
    & .footer__homelink{
        font-family: 'Shrikhand', cursive;
        color:white;
        margin: 0px;
        font-size: 1.1em;
    }
    & ul{
        list-style: none;
        padding-left: 0px;
        & li{
            padding-bottom: 10px;
            & i{
                padding-right: 10px;
                font-size: 0.8em;
            }
        }
    }
    & a{
        color:white;
    }
}

@media (min-width: 768px) {
    footer{
        & nav{
            display: flex;
            flex-direction: row-reverse;
            max-width: none !important;
            margin-right: 80px !important;
            & ul{
                margin-top: 0px;
                display: flex;
                margin-right: 70px;
                & li{
                    padding-right: 20px;
                }
            }
        }
    }

}