header{
    background-color: $gris;
    padding-bottom: 50px; 
}
.header{
   &__site_title{
        font-family: 'Shrikhand', cursive;
        letter-spacing: 0.03em;
        background-color: white;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 63px;
        box-shadow: 0px 2px 4px #B9B9B9;
        margin: 0px;
    }
    &__location{
        background-color: $header-grey;
        height: 50px;
        margin: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        & a{
                color: $header-grey-font;
            }
        & i{
            padding-right: 1em;
        }
    }
    &__title{
        text-align: center;
        margin: 35px 60px 10px 60px;
    }
    &__description{
        font-weight: 300;
        font-size: 1.1em;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 30px;
    }
    &__explore_button{
        display: flex;
        justify-content: center;
    }
}

//Restaurents
.header_restaurent__img{
    height: 275px;
}