.nav__h2{
    margin-bottom: 35px;
}
.nav__ol{
    list-style: none;
    counter-reset: section;
}
.nav__li{
    height: 72px;
    margin-bottom: 25px;
    margin-left: -30px;
    background-color: $gris;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-weight: bold;
    & i{
        font-size: 1.2em;
        margin-left: 25px;
        margin-right: 25px;
        color: $gris-text;
    }
}
.nav__li:before{
    content : counter(section, decimal) " "; 
    counter-increment : section;
    margin-left: -12px;
    padding: 3px 8px;
    font-size: 0.9em;
    background-color: $violet;
    border-radius: 20px;
    color: white;
    font-weight: normal;
    
  }
