@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0px;
}

.block-padding {
  padding: 30px 20px 30px 20px;
}

.shadow {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.violet {
  color: #9356DC !important;
}

.invisible {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  font-size: 1.5em;
}

header {
  background-color: #F3F3F3;
  padding-bottom: 50px;
}

.header__logo {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  box-shadow: 0px 2px 4px #B9B9B9;
}

.header__img {
  width: 162px;
  height: -moz-fit-content;
  height: fit-content;
}

.header__p-location {
  background-color: #EAEAEA;
  height: 50px;
  margin: 0px;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: #353535;
}
.header__p-location i {
  padding-right: 1em;
}

.header__h1 {
  text-align: center;
  margin: 35px 60px 10px 60px;
}

.header__p {
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}

.header__button {
  display: flex;
  justify-content: center;
}

.nav__h2 {
  margin-bottom: 35px;
}

.nav__ol {
  list-style: none;
  counter-reset: section;
}

.nav__li {
  height: 72px;
  margin-bottom: 25px;
  margin-left: -30px;
  background-color: #F3F3F3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.nav__li i {
  font-size: 1.2em;
  margin-left: 25px;
  margin-right: 25px;
  color: #7E7E7E;
}

.nav__li:before {
  content: counter(section, decimal) " ";
  counter-increment: section;
  margin-left: -12px;
  padding: 3px 8px;
  font-size: 0.9em;
  background-color: #9356DC;
  border-radius: 20px;
  color: white;
  font-weight: normal;
}

main {
  background-color: #F3F3F3;
  padding-bottom: 45px !important;
}

.restaurent-card {
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
}
.restaurent-card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 175px;
}

.restaurent-card-new {
  position: absolute;
  right: 0px;
  margin: 12px 32px;
  padding: 5px 10px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-size: 0.9em;
}

.restaurent-card-container {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
}

.restaurent-card-text h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.restaurent-card-text p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.restaurent-card-heart {
  margin: 20px;
}
.restaurent-card-heart svg {
  width: 1.5em;
  stroke-width: 1px;
}
.restaurent-card-heart .selected {
  stroke-width: 0px;
  fill: linear-gradient(#FF79DA, #9356DC);
}

.button {
  height: 50px;
  border-radius: 25px;
  border-style: none;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
}/*# sourceMappingURL=main.css.map */