@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

.block-padding {
  padding: 30px 20px 30px 20px;
}

.shadow, .button {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}

.shadow2, .button:focus, .button:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.violet {
  color: #9356DC !important;
}

.invisible {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-weight: 700;
  font-size: 1.8em;
}

header {
  background-color: #F3F3F3;
}

.header__arrow {
  font-size: 1.3em;
  position: absolute;
  z-index: 500;
  top: 20px;
  left: 20px;
}
.header__bottom_padding {
  padding-bottom: 50px;
}
.header__site_title {
  font-family: "Shrikhand", cursive;
  letter-spacing: 0.03em;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  margin: 0px;
}
.header_shadow {
  box-shadow: 0px 2px 4px #B9B9B9;
}
.header__location {
  background-color: #EAEAEA;
  height: 50px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}
.header__location a {
  color: #353535;
}
.header__location i {
  padding-right: 1em;
}
.header__title {
  text-align: center;
  margin: 35px 60px 10px 60px;
}
.header__description {
  font-weight: 300;
  font-size: 1.1em;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
}
.header__explore_button {
  display: flex;
  justify-content: center;
}
.header__explore_button a {
  display: flex;
  align-items: center;
}

.restaurant_header {
  padding-bottom: 0px;
}
.restaurant_header__picture {
  height: 275px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant_header__top {
  position: relative;
  background-color: #F3F3F3;
  margin-top: -50px;
  border-radius: 40px 40px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant_header__name {
  font-family: "Shrikhand", cursive;
  font-size: 1.7em;
  letter-spacing: 0.03em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.use__h2 {
  margin-bottom: 35px;
}
.use__list {
  list-style: none;
  counter-reset: section;
}
.use__list_item {
  height: 72px;
  margin-bottom: 25px;
  margin-left: -30px;
  background-color: #F3F3F3;
  border-radius: 20px;
  display: flex;
  align-items: center;
  font-weight: bold;
}
.use__list_item i {
  font-size: 1.2em;
  margin-left: 25px;
  margin-right: 25px;
  color: #7E7E7E;
}
.use__list_item:before {
  content: counter(section, decimal) " ";
  counter-increment: section;
  margin-left: -12px;
  padding: 3px 8px;
  font-size: 0.9em;
  background-color: #9356DC;
  border-radius: 20px;
  color: white;
  font-weight: normal;
}

main {
  background-color: #F3F3F3;
  padding-bottom: 45px !important;
}

footer {
  background-color: #353535;
}
footer .footer__homelink {
  font-family: "Shrikhand", cursive;
  color: white;
  margin: 0px;
  font-size: 1.1em;
}
footer ul {
  list-style: none;
  padding-left: 0px;
}
footer ul li {
  padding-bottom: 10px;
}
footer ul li i {
  padding-right: 10px;
  font-size: 0.8em;
}
footer a {
  color: white;
}

.card {
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
}
.card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 175px;
}
.card__new {
  position: absolute;
  right: 0px;
  margin: 12px 32px;
  padding: 5px 10px;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 2px;
  font-size: 0.9em;
}
.card__container {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
}
.card__text h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.card__text p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button {
  height: 50px;
  border-radius: 25px;
  border-style: none;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1em;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  transition: all 0.5s ease-out;
}
.button:focus, .button:hover {
  opacity: 0.8;
}
.button__command {
  padding-left: 50px;
  padding-right: 50px;
}

.command_button {
  display: flex;
  justify-content: center;
}

.heart__home_position {
  position: absolute;
  right: 0px;
  margin-right: 40px;
  margin-top: 200px;
  z-index: 500;
}
.heart__restaurant_position {
  margin-right: 20px;
}
.heart_checkbox {
  display: inline;
  position: relative;
  cursor: pointer;
}
.heart_checkbox-check {
  background-image: url("../../assets/images/Vector.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  transition: all 0.5s ease-out;
}
.heart_checkbox-check:after {
  content: "";
  position: absolute;
  display: none;
}
.heart_checkbox input[type=checkbox] {
  visibility: hidden;
}
.heart_checkbox input[type=checkbox]:checked ~ .heart_checkbox-check {
  background-image: url("../../assets/images/Vector2.svg");
}
.heart_checkbox input[type=checkbox]:checked ~ .heart_checkbox-check:after {
  display: block;
}

.menu_c {
  position: relative;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  height: 70px;
}
.menu_c__text {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}
.menu_c__description {
  display: flex;
  justify-content: space-between;
  height: 21px;
  overflow: hidden;
}
.menu_c__name {
  margin: 0;
  margin-top: 5px;
  font-size: 1.2em;
}
.menu_c__desc, .menu_c__price {
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: 0.95em;
}
.menu_c__content {
  overflow: hidden;
}
.menu_c__desc {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
}
.menu_c__price {
  font-weight: bold;
}
.menu_c__check {
  display: flex;
}
.menu_c__input {
  background-color: #99E2D0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.menu_c_checkbox {
  display: inline;
  position: relative;
  cursor: pointer;
}
.menu_c_checkbox-check {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  color: white;
  position: relative;
  top: 0;
  left: 0;
  width: 0px;
  overflow: hidden;
  transform: rotate(0deg);
  font-size: 1.5em;
  transition: all 0.5s ease-in-out;
}
.menu_c_checkbox-check::before {
  content: "";
  position: absolute;
  display: none;
  width: 80px;
}
.menu_c input[type=checkbox] {
  visibility: hidden;
  display: none;
}
.menu_c input[type=checkbox]:checked ~ .menu_c_checkbox-check {
  width: 80px;
  transform: rotate(360deg);
}

.menu {
  padding-top: 0px;
}

.restaurant_menu {
  padding-top: 0px;
  margin-bottom: 30px;
}
.restaurant_menu__entitled {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1em;
}
.restaurant_menu__separation {
  width: 40px;
  background-color: #99E2D0;
  height: 3px;
  text-align: left;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  border: 0 none;
}
.restaurant_menu__items {
  display: flex;
  flex-direction: column;
}
.restaurant_menu__item {
  width: auto;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */