.menu{
    padding-top: 0px;
}
.restaurant_menu{
    padding-top: 0px;
    margin-bottom: 30px;
    &__entitled{
        margin-top: 0px;
        margin-bottom: 5px;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 1em;
    }
    &__separation{
        width: 40px;
        background-color: #99E2D0;
        height: 3px;
        text-align: left;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 10px;
        border: 0 none;
    }
    &__items{
        display: flex;
        flex-direction: column;
    }
    &__item{
        width: auto;
        background-color: white;
        padding: 10px;
        border-radius: 15px;
        margin-bottom: 10px;
    }
}